.i {
    &-logo {
        display: inline-block;
        vertical-align: middle;
        width: 36px;
        height: 28px;
        background: url(//res.wx.qq.com/a/wx_fed/webwx/res/static/css/3d77c66cd37282eb9aae25295f7b0302@2x.png) no-repeat;
        background-position: -196px -210px;
        -webkit-background-size: 487px 462px;
        background-size: 487px 462px;
    }
}